body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: none;
  color: #fff;
} 
.support-container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0rem;
}
.universe {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0rem;
}
.support-container  header {
    padding: 20px;
    text-align: center;
  }
  
.support-container h1 {
    font-size: 36px;
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
  }
  
.support-container  .search-container {
    text-align: center;
    margin: 20px 0;
  }
  
.support-container .search-container input[type=text] {
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid snow;
    background: none;
    
  }
  
  .support-container .search-container input[type=submit] {
    padding: 10px 20px;
    background-color: #00adef;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .support-container section {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid snow;
  }
  
 
  
  .support-container .game-image {
    display: block;
    margin: 20px auto;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .support-container .highlight {
    color: #820e13;
    font-weight: bold;
  }
  
  .support-container .support-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .support-container .support-card img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  
  .support-container .support-card p {
    flex-basis: 50%;
    font-size: 18px;
    line-height: 1.5;
  }

  @media screen and (max-width: 600px) {
    .support-container header {
      padding: 20px;
      text-align: center;
      margin-top: 4rem;
    }
    
  .support-container h1 {
      font-size: 36px;
      margin: 0;
      color: #ffffff;
      text-shadow: 2px 2px #000000;
    }
    
  .support-container  .search-container {
      text-align: center;
      margin: 20px 0;
    }
    
  .support-container .search-container input[type=text] {
      padding: 10px;
      width: 360px;
      border-radius: 5px;
      font-size: 16px;
      border: 1px solid snow;
      background: none;
      
    }
    
    .support-container .search-container input[type=submit] {
      padding: 10px 20px;
      background-color: #00adef;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    
    .support-container section {
      padding: 20px;
      margin: 20px;
      border-radius: 5px;
      text-align: center;
      border: 1px solid snow;
    }
    
    .support-container .game-image {
      display: none;
      margin: 20px auto;
      max-width: 400px;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .support-container .highlight {
      color: #820e13;
      font-weight: bold;
    }
    
    .support-container .support-card {
      display: block;
      align-items: center;
    }
    
    .support-container .support-card img {
      display: none;
      max-width: 200px;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin: 20px;
    }
    
    .support-container .support-card p {
      flex-basis: 50%;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
      border: 1px solid white;
      padding: 20px;
      margin: 20px;
    }
  }