body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: none;
    color: #fff;
  } 
  .team-container {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0rem;
  }
  .universe {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0rem;
  } 
.team-page h1 {
    text-align: center;
}

.team-page  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.team-page .team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.team-page .team-card {
    background-color: #252525;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid snow;
    margin: 2rem 0rem;
}

.team-page .team-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.team-page .team-details {
    padding: 20px;
}


.team-page .team-details .buttons .team-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.team-page .team-link {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #0078a0;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.team-page .team-link:hover {
    background-color: #0078a0;
}

@media screen and (max-width: 600px) {
    .team-page h1 {
        text-align: center;
    }
    
    .team-page  .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;
    }
    
    .team-page .team {
        display: block;
        grid-gap: 20px;
    }
    
    .team-page .team-card {
        background-color: #252525;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid snow;
        margin: 2rem 0rem;
    }
    
    .team-page .team-card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    
    .team-page .team-details {
        padding: 20px;
    }
    
    
    .team-page .team-details .buttons .team-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .team-page .team-link {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #0078a0;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }
    
    .team-page .team-link:hover {
        background-color: #0078a0;
    }
}